@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, purple, aliceblue );
    font-family: 'Poppins';
}
@media only screen and (max-width: 360px) {
    body{
        background:purple;
        font-family: 'Poppins';
    }
    .container{
        border: 10px solid #eee; 
        height: 100px;
        margin-top: 200px;
        margin-left: 0px;        
    }
}
   
.container{
    margin-top: 70px;
    margin-left: 0px;
    width: 600px;
    height: 400px;
    margin-left: 250px;
    margin-top: 200px;
}
/* .headings{
    border-left:5px solid  yellow;
    padding-left: 12px;
    margin-left: 10px;
    font-weight:bolder;
    color: white;
} */
.headings:hover{
    border-left:5px solid  yellow;
    padding-left: 12px;
    margin-left: 10px;
    font-weight:bolder;
    color: white;
    transition: all 1s ease;
    h1:nth-child(2){
        color: yellow;
        }
}
/* h1:nth-child(2){
    color: yellow;
} */
.agecalculation{
    background-color: rgba(255, 255, 255, 0.219);
    height: 100px;
    width: 70%;
    border-radius: 6px;
    margin-left: 15px;
}
input[type="date"]{
    margin-top: 25px;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 4px;
    margin-left: 8%;
    height: 30%;
}
button{
    margin-top: 25px;
    padding: 10px 20px;
    background-color: rgb(247, 247, 45);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 50%;
    width: 25%;
    margin-left: 5%;
    font-size: medium;
}
p{
    color: white;
    font-family:'Sans-Serif';
    font-weight: 600;
    margin-left: 3%;
}